.row
  .col-md-12
    .card
      .card-header
        .text-right
          = link_to 'New Announcement', new_medical_entities_announcement_path, class: 'btn btn-round btn-danger btn-sm'
        %h4.card-title= 'Listing Announcements'
      .card-body
        .table-responsive
          %table.table
            %thead.text-primary
              %tr
                %th Blood collection facility
                %th Title
                %th.text-right
                %th.text-right
                %th.text-right
            %tbody
              - @announcements.each do |announcement|
                %tr
                  %td= link_to announcement.blood_collection_facility, medical_entities_blood_collection_facility_path(announcement.blood_collection_facility)
                  %td= announcement.title
                  %td.text-right= link_to 'Show', medical_entities_announcement_path(announcement)
                  %td.text-right= link_to 'Edit', edit_medical_entities_announcement_path(announcement)
                  %td.text-right= link_to 'Destroy', medical_entities_announcement_path(announcement), method: :delete, data: { confirm: 'Are you sure?' }
