.content
  .row
    .col-lg-4.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                %i.nc-icon.nc-book-bookmark.text-info
            .col-7.col-md-8
              .numbers
                %p.card-category Total successful donations
                %p.card-title
                  = @donations.attended.size
                %p
        .card-footer
          %hr/
          .stats
            %i.fa.fa-heartbeat
            = "Total donations expectations: #{@donations.size}"
    .col-lg-4.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                %i.nc-icon.nc-zoom-split.text-danger
            .col-7.col-md-8
              .numbers
                %p.card-category Total blood collected
                %p.card-title
                  = "#{@donations.attended.size * 450} ml"
                %p
        .card-footer
          %hr/
          .stats
            %i.fa.fa-tint
            = "Total blood expectations: #{@donations.size * 450} ml"
