!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EDonor
    = csrf_meta_tags
    = csp_meta_tag
    / Fonts and icons
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700,200'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'paper-dashboard', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'bootstrap', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .sidebar{ 'data-active-color': 'danger', 'data-color': 'black' }
        /
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
          %a.simple-text.logo-mini{:href => "http://www.creative-tim.com"}
            .logo-image-small
              = image_pack_tag 'logo-small.png'
          %a.simple-text.logo-normal{:href => "http://www.creative-tim.com"}
            Creative Tim
            /
              <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
              </div>
        .sidebar-wrapper
          %ul.nav
            %li.active
              %a{:href => "./dashboard.html"}
                %i.nc-icon.nc-bank
                %p Dashboard
            %li
              %a{:href => "./icons.html"}
                %i.nc-icon.nc-diamond
                %p Icons
            %li
              %a{:href => "./map.html"}
                %i.nc-icon.nc-pin-3
                %p Maps
            %li
              %a{:href => "./notifications.html"}
                %i.nc-icon.nc-bell-55
                %p Notifications
            %li
              %a{:href => "./user.html"}
                %i.nc-icon.nc-single-02
                %p User Profile
            %li
              %a{:href => "./tables.html"}
                %i.nc-icon.nc-tile-56
                %p Table List
            %li
              %a{:href => "./typography.html"}
                %i.nc-icon.nc-caps-small
                %p Typography
            %li.active-pro
              %a{:href => "./upgrade.html"}
                %i.nc-icon.nc-spaceship
                %p Upgrade to PRO
      .main-panel
        %nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
          .container-fluid
            .navbar-wrapper
              .navbar-toggle
                %button.navbar-toggler{:type => "button"}
                  %span.navbar-toggler-bar.bar1
                  %span.navbar-toggler-bar.bar2
                  %span.navbar-toggler-bar.bar3
              %a.navbar-brand{:href => "#pablo"} E-Donor - Medical entity panel
            %button.navbar-toggler{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
              %span.navbar-toggler-bar.navbar-kebab
              %span.navbar-toggler-bar.navbar-kebab
              %span.navbar-toggler-bar.navbar-kebab
            #navigation.collapse.navbar-collapse.justify-content-end
              %ul.navbar-nav
                %li.nav-item.btn-rotate.dropdown
                  %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"}
                    %i.nc-icon.nc-bell-55
                    %p
                      %span.d-lg-none.d-md-block Some Actions
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
                    = link_to 'Logout', destroy_donor_session_path, method: :delete, class: 'dropdown-item'
                    %a.dropdown-item{:href => "#"} Action
                    %a.dropdown-item{:href => "#"} Another action
                    %a.dropdown-item{:href => "#"} Something else here
                %li.nav-item
                  %a.nav-link.btn-rotate{:href => "#pablo"}
                    %i.nc-icon.nc-settings-gear-65
                    %p
                      %span.d-lg-none.d-md-block Account
        / End Navbar
        /
          <div class="panel-header panel-header-lg">

          <canvas id="bigDashboardChart"></canvas>


          </div>
        .content
          = yield
        %footer.footer.footer-black.footer-white
          .container-fluid
            .row
              %nav.footer-nav
                %ul
                  %li
                    %a{:href => "https://www.creative-tim.com", :target => "_blank"} Creative Tim
                  %li
                    %a{:href => "http://blog.creative-tim.com/", :target => "_blank"} Blog
                  %li
                    %a{:href => "https://www.creative-tim.com/license", :target => "_blank"} Licenses
              .credits.ml-auto
                %span.copyright
                  ©
                  :javascript
                    document.write(new Date().getFullYear())
                  , made with
                  %i.fa.fa-heart.heart
                  by Creative Tim
